@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

.deleteButton {
  position: relative;
  bottom: 35px;
}

.thinMargin {
  margin: 20px !important;
}

.tinyMargin {
  margin: 2px;
}

.imageShowImage {
  width: 80%;
}

.chartToggle {
  margin: 0 auto;
  width: 370px;
}

.barLabelName {
  color: black !important;
}

.barList {
  max-width: 80%;
}

.farColumn {
  top: 50%;
}

.closeColumn {
  top: 20%;
}

.userShowNavbar {
  left: 10%;
}

.resultShowImage {
  object-fit: cover;
  height: 200px;
  width: 300px;
}

.resultsContainer {
  margin: 50px;
}

.searchBar span {
  position: absolute;
  top: 35px;
}

.searchBar span i {
  color: white;
}

.searchBar .onRoot {
  border-bottom: 1px solid white !important;
  background: none !important;
  font-size: 50px !important;
  color: white !important;
  border: none !important;
  height: 95px;
  width: 350px;
}

.searchBar .offRoot {
  height: 50px;
}
